.footer {
  position: relative;
  background: #fafafa;
  padding: 6.4rem 2.4rem;
}
.footer__patternbox {
  position: absolute;
  top: 0;
  left: 0;
}
.footer__patternbox--mobile {
  display: none;
}
.footer__cont {
  max-width: 111rem;
  margin: 0 auto;
}
.footer__row1 {
  margin-bottom: 4.8rem;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid #dadada;
}
.footer__social-icons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.footer__social-icon {
  display: flex;
  align-items: center;
  color: #837d88;
  font-size: 2.4rem;
}
.footer__social-icon:focus,
.footer__social-icon:hover {
  color: #2c2830;
}
.footer__links {
  display: flex;
  gap: 3rem;
}
.footer__link {
  width: 100%;
  max-width: 25.5rem;
}
.footer__link-title {
  margin-bottom: 3.6rem;
  color: #837d88;
}
.footer__nav {
  color: #2d2641;
}
.footer__nav:focus,
.footer__nav:hover {
  text-decoration: underline;
}
.footer__navs {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media all and (max-width: 822px) {
  .footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .footer__link {
    text-align: center;
  }
}
@media all and (max-width: 375px) {
  .footer {
    padding: 8.8rem 2.4rem;
  }
  .footer__patternbox--mobile {
    display: block;
  }
  .footer__patternbox--desktop {
    display: none;
  }
  .footer__row1 {
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #dadada;
    flex-direction: column;
    gap: 3.2rem;
  }
  .footer__links {
    grid-template-columns: 1fr;
    column-gap: 4rem;
  }
  .footer__link {
    margin: 0 auto;
  }
}
