.nav {
  border: 1px solid black;
  padding: 2rem 2.4rem;
  position: relative;
}
.nav__cont {
  border: 1px solid red;
  max-width: 110.7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 44.7rem;
  border: 1px solid green;
}
.nav__link {
  color: #837d88;
}
.nav__link:hover,
.nav__link:focus {
  color: #2c2830;
}
.nav__link--cta {
  padding: 1.3rem 2.85rem 1.2rem 2.84rem;
  border: 1.5px solid #2c2830;
  display: block;
  color: #2c2830;
}
.nav__link--cta:focus,
.nav__link--cta:hover {
  background: #2c2830;
  color: white;
}
.nav__menubtn {
  width: 3.2rem;
  height: 3.2rem;
  display: none;
}

@media all and (max-width: 621px) {
  .nav__cont {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .nav__menubtn {
    display: flex;
  }
  .nav__links {
    display: none;
    position: absolute;
    left: 0;
    top: 7.5rem;
    width: 100%;
    max-width: 100%;
    background: #2c2830;
    padding: 4rem 2.4rem;
    flex-direction: column;
    gap: 2.4rem;
  }
  .nav__link {
    text-align: center;
  }

  .nav__link--cta,
  .nav__link {
    color: white;
  }
  .nav__link--cta {
    width: 100%;
    border: 1.5px solid white;
  }
  .nav__link--cta:hover,
  .nav__link--cta:focus {
    background: white;
    color: #2c2830;
  }
  .nav__links.active {
    display: flex;
  }
}
