.section-semifooter {
  border: 1px solid red;
  margin-bottom: 15rem;
  padding: 0 2.4rem;
}
.section-semifooter__cont {
  max-width: 111rem;
  margin: 0 auto;
  padding: 6.9rem 8.1rem;
  color: white;
  background: #2d2641;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.section-semifooter__title {
  max-width: 47.5rem;
}
.section-semifooter__cta {
  border: 1.5px solid white;
  padding: 1.3rem 2.55rem 1.2rem 2.45rem;
  color: white;
}
.section-semifooter__cta:hover,
.section-semifooter__cta:focus {
  background: white;
  color: #2d2641;
}
.section-semifooter__patternbox {
  position: absolute;
  right: 0;
  top: 0;
}
.section-semifooter__patternbox--mobile {
  display: none;
}
@media all and (max-width: 844px) {
  .section-semifooter__cont {
    padding: 7.2rem 2.4rem;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }
  .section-semifooter__patternbox--desktop {
    display: none;
  }
  .section-semifooter__patternbox--mobile {
    display: block;
  }
}
@media all and (max-width: 492px) {
  .section-semifooter__title {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -0.5555556px;
    width: 100%;
    max-width: 27.9rem;
  }
}
